#home-container {
    margin-left: 2%;
    margin-right: 2%;
    min-height: 50vh;
    vertical-align: middle;
}

#banner-text {
    margin-top: 20%;
}

#try-it-btn {
    color: #fff;
    border: #fff 1px solid;
}