@font-face {
  font-family: "gilroy-light";
  src: url("/assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "gilroy-regular";
  font-weight: bold;
  src: url("/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "gilroy-bold";
  src: url("/assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "varela-round";
  src: url("/assets/fonts/varela_round.woff2");
}

body {
  margin: 0;
  font-family: 'varela-round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/assets/analytics.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

